@using BlazorAppExemploHerançaBCC.Model
@page "/cadastroPessoaFisica"
@rendermode InteractiveServer

<div class="container">
    <div class="card">
        <div class="card-header">
            Cadastro de Pessoa Física
        </div>

        <div class="card-body">
            <EditForm Model="@pessoaFisica">
                <div>
                    <label for="" class="form-label">Nome</label>
                    <InputText id="txtNome" class="form-control" @bind-Value="pessoaFisica.Nome"/>
                </div>
                <div>
                    <label for="" class="form-label">Endereço</label>
                    <InputText id="txtEndereco" class="form-control" @bind-Value="pessoaFisica.Endereco" />
                </div>
                <div>
                    <label for="" class="form-label">Telefone</label>
                    <InputText id="txtTelefone" class="form-control" @bind-Value="pessoaFisica.Telefone" />
                </div>
                <div>
                    <label for="" class="form-label">CPF</label>
                    <InputText id="txtCPF" class="form-control" @bind-Value="pessoaFisica.Cpf" />
                </div>
                <div>
                    <label for="" class="form-label">RG</label>
                    <InputText id="txtRG" class="form-control" @bind-Value="pessoaFisica.Rg" />
                </div>
                <div>
                    <label for="" class="form-label">Data de Nascimento</label>
                    <InputDate id="txtDataNascimento" class="form-control" @bind-Value="pessoaFisica.DataNascimento" />
                </div>
            </EditForm>
        </div>

        <div class="card-footer">
            <div>
                <button class="btn btn_primary" onclick="@Imprimir">Cadastrar</button>
            </div>
            <div>
                <pre>@dadosImpressos</pre>
            </div>
        </div>

    </div>
</div>

@code {
    PessoaFisica pessoaFisica = new PessoaFisica();
    string dadosImpressos;
    private void ImprimirFisica(){
        dadosImpressos = $"Nome: {pessoaFisica.Nome}\r\n Endereço: {pessoaFisica.Endereco}\r\n Telefone: {pessoaFisica.Telefone}\r\n CPF:{pessoaFisica.Cpf}";
    }

}
